

/* body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  background: linear-gradient(to right, #dd7207, #862828);
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.app {
  text-align: center;
}

.card {
  color: aliceblue;
  background: #df2d2d;
  padding: 40px 20px;
  border-radius: 15px;
  box-shadow: 0 4px 8px rgba(6, 110, 98, 0.1);
  max-width: 400px;
  margin: 20px;
}

.heading {
  font-size: 28px;
  color: #090808;
  margin-bottom: 30px;
  position: relative;
  padding-bottom: 10px;
}

.heading::after {
  content: "";
  position: absolute;
  width: 50px;
  height: 3px;
  background-color: #4caf50;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
}

.button {
  background-color: #4caf50;
  color: white;
  border: none;
  padding: 15px 30px;
  font-size: 18px;
  border-radius: 25px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  text-transform: uppercase;
  letter-spacing: 1px;
}

.button:hover {
  background-color: #45a049;
}

span {
  display: block;
  font-size: 18px;
  font-weight: bold;
  margin-top: 20px;
} */


body {
  margin: 0;
  padding: 0;
  font-family: 'Arial', sans-serif;
  background-color: #1b6168;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.app {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100%;
}

.card {
  background: #9b6464;
  padding: 20px 40px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  text-align: center;
  max-width: 400px;
  width: 100%;
}

.heading {
  font-size: 1.5em;
  margin-bottom: 20px;
  color: #0d29b8;
}

.button {
  background-color: #5a4a45;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin-top: 20px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.button:hover {
  background-color: #0056b3;
}

.button span {
  display: inline-block;
  position: relative;
  transition: all 0.3s ease;
}

.button span:after {
  content: '»';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: opacity 0.3s ease, right 0.3s ease;
}

.button:hover span {
  padding-right: 25px;
}

.button:hover span:after {
  opacity: 1;
  right: 0;
}
